@import "./variables", "./global";

@mixin desktop(){
    @media(min-width:$desktop){
        @content;
    }
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: $dark-blue;
    align-items: center;
    position: abolute;
    font-family:$font-family;
}


main{
    background-color: $dark-grayish-blue;
    margin:20%, auto;
    border-radius: 20px;
    min-width:347px;
    min-height: 343px;
    align-items: center;
    position: absolute;
    margin-top: 28vh;

    @include desktop(){
        width: 540px;
        height: 360px;
    }
}
h1{
    text-align: center;
    color: $neon-green;
    margin-top: 50px;
    font-size: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
p{
    text-align: center;
    font-size: $font-size;
    color: $light-cyan;
    width: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    &::after {
        content: url(../images/pattern-divider-mobile.svg);
          padding: 20px;
          overflow: hidden;
      }
      @include desktop(){
        width: 420px;
        margin-left: 60px;
        &::after {
            content: url(../images/pattern-divider-desktop.svg);
              padding: 20px;
              overflow: hidden;
          }
    }
}
#img-border{
    width: 64px;
    height: 64px;
    background-color: $neon-green;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: absolute;
    margin:auto;
    left: 40%;
    margin-top: 20%;
    bottom: -2rem;
    
    &:hover {
        box-shadow: 0rem 0rem 1rem $neon-green;
        cursor: pointer;
      }

      @include desktop(){
        left: 43%;
        margin:auto;
      }
}
#icon{
    margin: auto;
}